<!-- index.html -->
<html>
<head>
<title>Battery Monitoring</title>
<script>
    window.onload = function () {
     
    // Initial Values
    dataPointsV = [];
    dataPointsC = [];
    dataPointsAh = [];
     
    var chart = new CanvasJS.Chart("chartContainer", {
        theme: "light2",
        animationEnabled: true,
        exportEnabled: true,
        title: {
            text: "Battery Monitoring 2000"
        },
        toolTip: {
          shared: true
        },
        axisX: {
          title: "Time",
          suffix: "s",
          minimum: 0,
        },
        axisY: [
            {
              title: "Voltage",
              titleFontColor: "#6D78AD",
              suffix: "V",
              includeZero: true,
              lineThickness: 1,
              lineColor: "#6D78AD",
              tickColor: "#6D78AD"
            },
            {
                title: "Current",
                titleFontColor: "#DF7970",
                suffix: "A",
                lineColor: "#DF7970",
                tickColor: "#DF7970"
            }
        ],
        axisY2: {
            title: "Energy",
            titleFontColor: "#51CDA0",
            suffix: "mAh",
            lineColor: "#51CDA0",
            tickColor: "#51CDA0"
        },
        data: [
            {
                type: "spline",
                name: "Voltage",
                axisYIndex: 0,
                dataPoints: dataPointsV
            },
            {
                type: "spline",
                name: "Current",
                axisYIndex: 1,
                dataPoints: dataPointsC
            },
            {
                type: "spline",
                name: "Energy",
                axisYType: "secondary",
                dataPoints: dataPointsAh
            }
        ]
    });
     
    updateData();
     
    function updateData() {
        $.getJSON("get_datapoints.json", function(data) {
            dataPointsV = [];
            dataPointsC = [];
            dataPointsAh = [];
        
            $.each(data, function(key, value) {
			    dataPointsV.push({x: value['t'], y: value['v']});
			    dataPointsC.push({x: value['t'], y: value['c']});
			    dataPointsAh.push({x: value['t'], y: value['mah']});
		    });
		    
		    chart.options.data[0].dataPoints = dataPointsV;
		    chart.options.data[1].dataPoints = dataPointsC;
		    chart.options.data[2].dataPoints = dataPointsAh;
		    //console.log(data);
        });

        chart.render();
        setTimeout(updateData, 3000);
    }
    }
</script>
</head>
<body>
    <div id="chartContainer" style="height: 360px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="{{ url_for('static', path='js/canvasjs.min.js') }}"></script>
    
    <label for="cCurrent">Current (A):</label>
    <input type="number" step="0.01" id="cCurrent" name="cCurrent"><br>

    <label for="cMaxVoltage">Max Voltage (V):</label>
    <input type="number" step="0.01" id="cMaxVoltage" name="cMaxVoltage"><br>

    <button id="chargeButton">Charge</button>
    
    <br>
    
    <label for="dCurrent">Current (A):</label>
    <input type="number" step="0.01" id="dCurrent" name="dCurrent"><br>

    <label for="dMaxVoltage">Max Voltage (V):</label>
    <input type="number" step="0.01" id="dMaxVoltage" name="dMaxVoltage"><br>

    <button id="dischargeButton">Discharge</button>
    
    <br>
    
    <button id="stopButton">STOP</button>
    
    <script>
    $(document).ready(function() {
        $("#chargeButton").click(function() {
            const current = $("#cCurrent").val();
            const maxVoltage = $("#cMaxVoltage").val();

            $.ajax({
                url: 'http://{{ hostname }}:8000/charge',  // Point to your FastAPI server
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    'current': parseFloat(current),
                    'maxVoltage': parseFloat(maxVoltage)
                }),
                success: function(response) {
                },
                error: function(error) {
                    alert("Failed to send the charge request: " + JSON.stringify(error));
                }
            });
        });
        
        $("#dischargeButton").click(function() {
            const current = $("#dCurrent").val();
            const maxVoltage = $("#dMaxVoltage").val();

            $.ajax({
                url: 'http://{{ hostname }}:8000/discharge',  // Point to your FastAPI server
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    'current': parseFloat(current),
                    'maxVoltage': parseFloat(maxVoltage)
                }),
                success: function(response) {
                },
                error: function(error) {
                    alert("Failed to send the discharge request: " + JSON.stringify(error));
                }
            });
        });
        
        $("#stopButton").click(function() {
            $.ajax({
                url: 'http://{{ hostname }}:8000/stop',  // Point to your FastAPI server
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                success: function(response) {
                },
                error: function(error) {
                    alert("Failed to send the stop request: " + JSON.stringify(error));
                }
            });
        });
        
        
    });
    </script>
</body>
</html>
